

.Prizes{
    width: 32rem;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    margin-top: 1.7rem;
}
.PrizeHeading h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #e0d9f1;
 -webkit-text-stroke: 0.5px #44409E;

}

.Prizes p{
    color: rgb(145, 143, 143);
}
.Prizes .first{
    color:#A239EA;
}

.Prizes .second{
    color:#39A2DB;
}

.Prizes .third{
    color:#e37bde;
}

.Prizes .fourth{
    color:#3e8552;
}

.Prizes .fifth{
    color:#bf1330;
}

.Prizes .sixth{
    color:#c77913;
}

.Prizes .seventh{
    color:#E4BAD4;
}

.Prizes .eighth{
    color:#9595ed;
}


